
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2 style="font-family: Arial; margin-left:180px; opacity: 0.6; font-weight:300;"><b>О магазине</b></h2>
<div class="about">
    <pre style="font-family: Arial; margin-left: 180px; width: 80%; text-align:center;">
    Gameray.ru - интернет-магазин лицензионных игр с мгновенной доставкой. У нас вы можете купить
    компьютерную игру, которая после ввода ключа в систему автоматически скачается и установится 
    на ваш компьютер.
    Мы работаем с марта 2012 года и нашими услугами воспользовались уже более 20 тысяч
    покупателей. Все наши игры являются полностью лицензионными, мы получаем их напрямую от 
    ведущих российских издателей: «1С-Софтклаб», «Бука», «Новый Диск». 
    Все игры доступны для активации на территории России, стран СНГ и Балтии.
    <img alt="about" src="@Url.Content("~/Context/img/about.png")" />
    Получая игры по прямым договорам и не тратя денег на физическую доставку диска, мы можем
    предложить вам на большую часть ассортимента более низкие цены, чем в системах дистрибуции 
    типа Steam или в розничных магазинах.
    Мы очень заботимся о качестве нашего сервиса и всегда быстро отвечаем на письма и решаем 
    вопросы наших покупателей. Если у вас возникнут какие-либо проблемы с покупкой игры, вы всегда 
    можете написать нам на care@gameray.ru.
</pre>
</div>