@model OnlineShop.Models.Register

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<label id="name"> Name</label>
<label id="surname"> Surname</label>
<label id="country"> Country</label>
<label id="city"> City</label>
